services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=moodle
      - POSTGRES_USER=moodle
      - POSTGRES_DB=moodle
    volumes:
      - postgresdata:/var/lib/postgresql/data
  moodle:
    image: erseco/alpine-moodle:v5.1.0
    ports:
      - '80:8080'
      - '443:8443'
    environment:
      MOODLE_USERNAME: admin
      MOODLE_PASSWORD: admin123
    volumes:
      - moodledata:/var/www/moodledata
      - moodlehtml:/var/www/html
    depends_on:
      - postgres
volumes:
  moodledata: null
  moodlehtml: null
  postgresdata: null